/* add css styles here (optional) */

.Filter {
  width: 100%;
}

.Filter_buttons_container {
  display: flex;
  align-items: center;
}

.FilterItem {
  border: 1px solid #000;
  padding: 10px;
  margin: 10px;
}
